* {
	font-family: 'Tajawal', sans-serif;
	padding: 0;
	margin: 0;
}

body {}


header {
	background-color: #FFF8FA;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
}

header .container {
	width: fit-content;
}

#pageLogo {
	/* width: 112px; */
	width: 80px;
	max-width: 50%;
	align-self: center;

}

header>* :not(img) {
	text-align: center;
}

#pageTitle {

	color: #183F5D;
	font-weight: 700;
	/* font-size: 30px; */
	font-size: 22px;

}


.meeting-card {
	border-radius: 15px;
}

.meeting-card:hover {
	background-color: #FFF8FA;
	cursor: pointer;
}


.guest-circle {
	border-radius: 50%;
	border: 2px #fff solid;
	width: 55px;
	height: 55px;
}

.main-guest {
	z-index: 2;
}

.second-guest {

	z-index: 1;
	margin-right: -20px;

}

.guests-box {

	display: flex;

}

.text-center {
	text-align: center;
}

.event-tag {
	color: #0A565F;
	opacity: 0.5;
	font-weight: 600;
}


@media (min-width: 960px) {

	.container {
		max-width: 800px;
	}

}

.meeting-card h2 {
	color: #0D1D2A;
}

.meeting-card p {
	color: #778692;
}

.guests-number {
	background-color: cadetblue;
	color: whitesmoke;
	/* text-align: center; */
}

.guests-number span {
	font-size: 1.3rem;
	/* text-align: center; */
	margin-right: 20px;
	margin-left: auto;
}

.calender-tag {
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
	border-radius: 10px;
	overflow: hidden;
}

.calender-tag .month {
	background-color: #FFF8FA;
}

.calender-tag .day {
	background-color: white;
}

.px-4_5 {
	padding-left: 2rem !important;
	padding-right: 2rem !important
}

.py-2_5 {
	padding-top: 0.75rem !important;
	padding-bottom: 0.75rem !important
}

.calender-tag .day span {
	font-size: 2rem;
}


.py-4_5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important
}

footer {
	background-color: #FFF8FA;

}


#footerTagline {

	color: #808487;

}